# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Build artifacts
build/
dist/
*.egg-info/

# Virtual environments
venv/
.env
.env/

# Local runtime files
episodes.json
context.json

# Logs / temp files
*.log
test.log

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Aider
.aider*
Output
path/